*{
    margin:0;
}
html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #2f343d;
}
p{
    color: Orange;
    font-size: 25px;
    font-family: 'Jockey One', sans-serif;
}
a {
    text-decoration: none;
    color: Orange;
    font-size: 25px;
}

.header{
    background-color: black;
    color:orange;
    display: flex;
    font-size:50px;
    font-family: 'Jockey One', sans-serif;
    justify-content: center;
    padding: 7px;
}
.navbar{
    background-color: black;
    color:orange;
    display: flex;
    flex-direction: row;
    font-family: 'Jockey One', sans-serif;
    justify-content: space-around;
    align-items: center;
    
}
.main {
    background-color: #2f343d;
    display:flex;
    
    height: 100%;
    align-items: center;
    justify-content: space-around;
}
.games{
    border:orange solid 5px;
    padding:10px;
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color: black;
}
.games img{
    height:312px;
    width:220px;
}
.content{
    background-color: #2f343d;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.logo img{
width: 100px;
height: 100px;
}
